{% extends 'base.html' %}
{% load crispy_forms_tags %}

        {% block title %}
        <title>UserRegistration</title>
        {% endblock %}
 

        {% block content %}
        
        <br>
        <form method="post" enctype="multipart/form-data" class="container jumbotron">
            <center><h2>User Registration</h2></center>
            {% csrf_token %}
            {{form|crispy}}
            <center><input type="submit" value="Add User" class="btn btn-lg btn-success float-center"/></center>
        </form>
        {% endblock %}
